/*header + mani-menu start */
header {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 9999;
  top: 30px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  transition: 0.2s ease;
}
header .logo {
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo h1 {
  font-weight: normal;
}
header .logo h1 a {
  color: #ffffff;
}
header .menu {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-left: 15px;
}
header .menu .main-menu {
  margin: 0;
  padding-left: 50px;
  width: auto;
  height: 100%;
  display: inline;
  float: left;
  background: #a36735;
  border-radius: 70px 0 0 70px;
}
header .menu .main-menu li {
  float: left;
  display: inline;
  height: 100%;
}
header .menu .main-menu li a {
  display: block;
  font-size: 18px;
  padding: 0 15px;
  height: 100%;
  line-height: 70px;
  text-transform: uppercase;
  transition: 0.1s ease;
  color:#fff;
}
header .menu .main-menu li a:hover {
  color:#f2ad73;
}
header .menu .menu-toggle {
  display: none;
  width: 70px;
  height: 70px;
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 1;
}
header .menu .menu-toggle span {
  position: absolute;
  display: block;
  height: 2px;
  border-radius: 5px;
  background: #a36735;
  width: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
header .menu .menu-toggle span:nth-child(1) {
  top: 35%;
}
header .menu .menu-toggle span:nth-child(3) {
  top: 65%;
}
header .menu .menu-toggle.active {
  background: #a36735;
}
header .menu .menu-toggle.active span:nth-child(1) {
  background: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
header .menu .menu-toggle.active span:nth-child(2) {
  opacity: 0;
}
header .menu .menu-toggle.active span:nth-child(3) {
  background: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
header .menu .main-menu li a i {
  padding: 0 0 0 10px;
}
header .social-menu {
  width: auto;
  display: block;
  margin: 0 0px 0 0;
  padding: 0;
  background: #a36735;
}
header .social-menu li {
  display: inline;
  margin: 0 5px;
}
header .social-menu li a i {
  font-size: 24px;
  line-height: 70px;
  padding: 0 50px 0 0;
}
.shrink {
  height: 60px;
  transition: 0.2s ease;
}
.shrink .menu .main-menu li a {
  font-size: 14px;
  line-height: 60px;
  transition: 0.2s ease;
  color: #fff;
}
.shrink .social-menu li a i {
  font-size: 15px;
  transition: 0.3s ease;
  line-height: 60px;
}

/* RESPONSIVE */
@media (max-width: 1300px) {
  header .menu .main-menu li a {
    font-size: 15px;
  }
}
@media (max-width: 1140px) {
  header .social-menu {
    display: none;
  }
  header .logo {
    width: 150px;
  }
}
@media (max-width: 800px) {
  header {
    top:0;
  }
  header .menu {
    transition: all 0.2s linear;
  }
  header .menu .main-menu {
    margin: 0;
    padding-left: 0;
    width: 0;
    position: absolute;
    top: 70px;
    right: 0;
    opacity: 0;
    height: 100%;
    display: block;
    background: #ffffff;
    transition: all 0.2s linear;
  }
  header .menu .main-menu li {
    width: 100%;
    background: #a36735;
  }
  header .menu .main-menu li a {
    width: 100%;
    color:#fff;
    text-align: center;
  }
  header .menu .menu-active {
    width: 100%;
    opacity: 1;
    transition: all 0.2s linear;
  }
  header .menu .menu-toggle {
    display: block;
  }

  .shrink .menu .main-menu {
    top: 60px;
  }
  .shrink .menu .menu-toggle {
    width: 60px;
    height: 60px;
    display: block;
  }
  header .menu .main-menu li a i {
    display: none;
  }

}


/******* accordion  *******/
.accordion dl,
.accordion-list {
  border-bottom: 1px solid #805c43;
  padding: 0;
  margin: 0;
  border-radius: 20px;
  overflow: hidden;
}
/*.accordion dl:after,
.accordion-list:after {
  content: "";
  display: block;
  height: 1em;
  width: 100%;
  background-color: #805c43;
}*/
.accordion dd,
.accordion__panel {
  background-color: #eee;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.accordion p {
  padding: 1em 2em 1em 2em;
}
.accordion {
  position: relative;
  width: 100%;
  float:left;
  margin: 0 0 150px 0;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em 0 2em 0;
}
.accordionTitle,
.accordion__Heading {
  background-color: #d9d34a;
  text-align: center;
  font-weight: bold;
  padding: 1em;
  display: block;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.5s ease-in-out;
  border-bottom: 2px solid #805c43;
  text-align: left;
  color:#95080c;
}
.accordionTitle:before,
.accordion__Heading:before {
  content: "+";
  font-size: 1.5em;
  line-height: 0.75em;
  float: left;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.accordionTitle:hover,
.accordion__Heading:hover {
  background-color: #2ba659;
  color:#fff;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
  background-color: #2ba659;
}
.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
  margin: 8px 0 0 0;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}
.accordionItem {
  height: auto;
  overflow: hidden;
  max-height: 50em;
  transition: max-height 1s;
}
@media screen and (min-width: 48em) {
  .accordionItem {
    max-height: 15em;
    transition: max-height 0.5s;
  }
}

.accordionItem.is-collapsed {
  max-height: 0;
}

.no-js .accordionItem.is-collapsed {
  max-height: auto;
}

.animateIn {
  -webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
          animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
  -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
          animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
  }
}
@keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
  }